.user_name {
    grid-area: name;
}

.user_email {
    grid-area: email;
}

.user_phoneNumber {
    grid-area: phoneNumber;
}

.user_allSum {
    grid-area: allSum;
}

.title {
    display: grid;
    grid-template-columns: 13rem 17rem 16rem 7rem;
    grid-template-areas: 
    "name email phoneNumber allSum";
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}