.order {
    grid-area: order;
    margin-top: 2rem;
}

.conteiner {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas: 
    "order content";
}   

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}