<div class="conteiner">
    <div class="order">
        <mat-card>
            <p>All sum: ${{allSum}}</p>
            <button mat-raised-button (click)="postOrder()">Accept</button>
        </mat-card>
    </div>
    <div class="content">
        <mat-card class="product" *ngFor="let product of products">
            <div class="prod_content">
                <div class="prod_image">
                    <img [src]="product.image" [alt]="product.title" class="image">
                </div>
                <div class="prod_info">
                    <p>Title: {{product.title}}</p>
                    <p>Quantity: {{product.quantity}}</p>
                    <p>Price: ${{product.price * product.quantity}}</p>
                </div>
                <div class="btn_content">
                    <button
                        mat-raised-button
                        (click)="edit(product._id, product.quantity)">
                        Edit
                    </button>
                    <button
                        mat-raised-button
                        (click)="delete(product._id)">
                        Delete
                    </button>
                </div>
            </div>
        </mat-card>
    </div>
</div>